html, body {
  text-align: center;
  background-color: #37306B;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #9E4784;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #66347F;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  text-align: right;
}

.w {
  background-image: url('images/tom1.png');

}

.a {
  background-image: url('images/tom2.png');
}

.s {
  background-image: url('images/tom3.png');
}

.d {
  background-image: url('images/tom4.png');
}

.j {
  background-image: url('images/snare.png ');
}

.k {
  background-image: url('images/crash.png');
}

.l {
  background-image: url('images/kick.png');
}

.set {
  margin: 10% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #3F2E3E;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #D27685;
  text-shadow: 3px 0 #66347F;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  
}

@media (min-width:320px) and (max-width: 425px){
  .set {
     display: flex;
     flex-direction:column ;
  }
  .drum {
    width: 250px;
    height: 250px;
  }
  body{
    overflow: auto;
  }
}
@media (min-width:426px) and (max-width: 600px){
  .set {
    display: flex;
    flex-direction:column ;
 }
 .drum {
   width: 250px;
   height: 250px;
 }
 body{
  overflow: auto;
}
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
  .set {
    display: flex;
    flex-direction: column;
  }
  .drum {
    width: 250px;
    height: 250px;
  }
  body{
  overflow: auto;
}
}
